---
---
//@import url(syntax_highlighting/{{ site.highlight_css }});

body {
    background: #333;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 15px;
}
nav a {
    display: inline-block;
    margin: 5px;
}
a {
    color: #52ff29;
}


